* {
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: whitesmoke;
	line-height: 1.25;
	text-decoration: none;
}

body {
	margin: 0 auto;
	background-color: #15202b;
}

button,
a {
	display: inline-block;
	margin: 3px;
	border-radius: 4px;
	background-color: #eb7f45;
	border: none;
	color: #1f1313;
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	transition: all 0.3s;
	cursor: pointer;
}
input {
	border-radius: 25px;
}
input .plh {
	border-radius: 25px;
}
.plus {
	border-radius: 50%;
	height: fit-content;
	width: fit-content;
}
select {
	font-size: 1.5rem;
}
